<a href="https://colab.research.google.com/github/irawan09/data_mining_class/blob/main/Exercise_week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# custom data transform for removing columns with few unique values
import numpy as np
from numpy import unique
from pandas import read_csv
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import LabelEncoder

# load a dataset
def load_dataset(path):
    # load the dataset
    df = read_csv(path, header=None)
    data = df.values
    # split data into inputs and outputs
    X, y = data[:, :-1], data[:, -1]
    # minimally prepare dataset
    X = X.astype('float')
    y = LabelEncoder().fit_transform(y.astype('str'))
    return X, y

# define the location of the dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/oil-spill.csv'
# load the dataset
X, y = load_dataset(url)

print(X.shape, y.shape)

(937, 49) (937,)

In [23]:
df = read_csv(url, header=None)

df

      0      1        2       3    4   ...  45        46     47    48  49
0      1   2558  1506.09  456.63   90  ...   0  33243.19  65.74  7.95   1
1      2  22325    79.11  841.03  180  ...   0  51572.04  65.73  6.26   0
2      3    115  1449.85  608.43   88  ...   1  31692.84  65.81  7.84   1
3      4   1201  1562.53  295.65   66  ...   1  37696.21  65.67  8.07   1
4      5    312   950.27  440.86   37  ...   0  29038.17  65.66  7.35   0
..   ...    ...      ...     ...  ...  ...  ..       ...    ...   ...  ..
932  200     12    92.42  364.42  135  ...   0   2593.50  65.85  6.39   0
933  201     11    98.82  248.64  159  ...   0   4361.25  65.70  6.53   0
934  202     14    25.14  428.86   24  ...   0   2153.05  65.91  6.12   0
935  203     10    96.00  451.30   68  ...   0   2421.43  65.97  6.32   0
936  204     11     7.73  235.73  135  ...   0   3782.68  65.65  6.26   0

[937 rows x 50 columns]

In [40]:
def remove_unique(data):
    for a in data:
      result_index = np.where(data <= 1)
      erase = np.delete(data, result_index)
      unq = np.unique(erase)
      print (data)
    return data

# remove_unique(X)


def remove_outliers(data):
    mean = np.mean(data)
    std = np.std(data)
    batas_kiri = mean-3*std
    batas_kanan =  mean+3*std
    print("batas kiri : ",batas_kiri)
    print("batas kanan : ",batas_kanan)
    print("-"*100)
    # for a in data:

remove_outliers(X)

batas kiri :  -1657083.2001673558
batas kanan :  1689290.213078296
----------------------------------------------------------------------------------------------------